{% extends "layout.html"%}
{%block content%}
  <h1>Search's results : </h1>
  <table>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Artist</th>
    </tr>
    {%for row in albums : %}
      <tr>
        <th><img src="{{url_for('static',filename='albumsPictures/'+row[0]+'.png')}}"/></th>
        <th><a href="{{url_for('browseArtistsAlbum',artist=row[1],album=row[0])}}">{{row[0]}}</a></th>
        <th><a href="{{url_for('browseArtist',artist=row[1])}}">{{row[1]}}</a></th>
      </tr>
    {%endfor%}
  </table>
{%endblock%}
